


    <div class="content" role="main">
      <div *ngIf="!isLoading">
        <div *ngIf="user; else loggedOut">
          <div>
            <img [src]="user?.profilePictureUrl" [alt]="user?.name" />
            <div>User name: {{ user?.name }}</div>
            <button (click)="logOut()">Log out</button>
            <button (click)="openSettings()">Settings</button>
            <label for="tenants">Select a tenant:</label>
            <select id="tenants"  [(ngModel)]="selectedTenantId" (change)="switchTenant()" >
              <option *ngFor="let tenant of tenants" [value]="tenant">{{ tenant }}</option>
            </select>
          </div>
          
        </div>
        <ng-template #loggedOut>
          <div>
            <!-- Uncomment when not using auto-redirect -->
            <button (click)="loginWithRedirect()">Login with redirect</button>
          </div>
        </ng-template>
      </div>
    </div>

  





<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

